

.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.App {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87dcfa+0,b18ae0+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(45deg, #ffffff 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ffffff 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ffffff 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'poppins', sans-serif;
  font-size: 18px;
  line-height: 1.4em;
}
.container {
  display: flex;
  flex: 1;
}
.container .home {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.container .home h1 {
  font-size: 40px;
  line-height: 1.4em;
  font-weight: 900;
  text-transform: uppercase;
}
.container .home h3 {
  font-size: 3em;
  font-family: inconsolata, monospace;
}
.container .home h3:after {
  content: '🍦🍦🍦';
  display: block;
  text-align: center;
  margin-top: 50px;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
header nav  {
  display: flex;
}
header nav  a {
  padding: 15px;
  text-decoration: none;
  color: black;
  font-family: Gill Sans Extrabold, sans-serif;
  text-transform: uppercase;
  transition: 0.2s;
}
header nav  a:hover {
  background-color: rgba(243, 201, 221, 0.7);
  border-bottom: 1px solid black;
}
header .logo {
  font-weight: 400;
  font-style: oblique;
  font-size: 40px;
}
footer {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
}
.product-name {
  font-weight: 300;
  font-size: 28px;
  letter-spacing: -.5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  margin-right: 50px;
  float: left;
  margin-left: 50px;
}
.img-data {
  margin: 0 0 12px;
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  display: block;
}
.product-price {
  font-size: .8em;
  font-weight: 300;
  color: black;
  float: right;
}
.desc {
  color: #666;
  margin-top: 20px;
  font-weight: 300;

}
 .btn-add {
   width: 100%;
   text-align: center;
   cursor: pointer;
   font-size: 18px;
   padding: 12px 40px 12px;
   border-radius: 5px;
   color: white;
   display: inline-block;
   transition: opacity ease-in-out .2s;
   border: none;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   box-shadow: 0 2px 0 #468f3b;
   background-color: #36b725;
}
.Order-list {
  border: 1px solid #bbbbbb;
  height: 200px;
  width: 350px;
  margin-top: 80px;
  overflow: hidden;
  position: relative;
  margin-left: 10px;
  border-radius: 15px;
}
.order {
  border: 1px solid blue;
  width: 700px;
  height: 500px;
  margin:  0 auto;
}
.product_detail {
  float: right;
  margin-bottom: 350px;
}
.product_header {
  border: 1px solid #ffffff;
  height: 50px;
  width: 100%
}
.link-cart {
  float: right;
  text-decoration: none;
  height: 40px;
  text-align: center;
  padding: 5px;
  color: #ffffff;
  padding-top: 10px;
}
.btn-cart {
  margin-top: 80px;

}
.cart {
  font-size: 30px;
}
.form {
  border: 1px solid black;
  width: 700px;
  height: 700px;
  margin-left: 10px;
}
.email {
  width: 90%;
  padding: 15px;
  border-radius: 5px;
  border: none;
}
.name {
  padding: 15px;
  width: 40%;
  margin: 20px;
  border-radius: 5px;
  border: none;
}
.add {
  padding: 15px;
  width: 40%;
  margin: 20px;
  border-radius: 5px;
  border: none;
}
.city {
  padding: 15px;
  width: 90%;
  margin: 20px;
  border-radius: 5px;
  border: none;
}
.County {
  padding: 15px;
  width: 23%;
  margin: 20px;
  border-radius: 5px;
  border: none;
}
.num {
  padding: 15px;
  width: 90%;
  margin: 20px;
  border-radius: 5px;
  border: none;
}
h2 {
  text-align: left;
  margin-left: 10px;
  border: none;
}
.btn {
  width: 300px;
  color: #ffffff;
  background: #2a9dcc;
  box-sizing: border-box;
  float: right;
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
  font-size: 20px;
  border: none;
}
.wrapper {
  padding: 30px 0px 4px 25px;
  overflow: hidden;
  height: auto;
  width: 945px;
  margin: 0 auto 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
}
.content {
  position: relative;
  float: left;
  color: #333;
  z-index: 2;
}
.item {
  width: 452px;
  background-color: #eaeaea;
  position: relative;
  float: left;
  display: block;
  border-radius: 5px;
  margin: 0 20px 15px 0;
  font-size: 12px;

}
.shell {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.header {
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  margin: 0px;
  color: #333;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  background: #fafafa;
  border-radius: 5px 5px 0 0;

}
.img1 {
  height: 325px;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
  transition: opacity ease-in-out .2s;
  position: relative;
  display: block;
  text-align: center;
  overflow: hidden;

}
.product-name {
  padding-left: 10px;
  font-size: 18px;
}
.product-price {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  font-size: 18px;
  line-height: 40px;
  padding-right: 10px;
  font-weight: 300;
  border-left: 1px solid #ddd;
  padding-left: 10px;
  margin: 0;
}
.right-col {
  float: right;
  width: 277px;

}
.cart-list {
  margin: auto;
  width: 500px;
  height: 500px;
  margin-left: 700px;
  margin-bottom: 1000px;
  text-align: start;
}
.cart-icon {
  font-size: 3em;
  color: #ffffff;
  float: left;
}
.img-cart {
  border: 1px solid #dddddd;
  width: 300px;
  height: 200px;
  margin-top: 70px;
  float: left;
  border-radius: 10px;
}
.cart-name {
  font-size: 30px;
  float: left;
  margin-top: 70px;
}
.cart-price {
  margin-top: 80px;
}